body {
  font-family: Verdana;
  background: black;
  text-align: center;
}

.head {
  font-size: 50px;
  color: white;
}

.subhead {
  font-size: 42px;
  color: white;
  font-weight: 300;
}

.dcs {
  font-size: 16px;
  color: aquamarine;
}

.capt {
  font-size: 21px;
  color: gray;
}
